*{
    margin : 0;
    box-sizing: border-box;
}

header > a> img{
    width: 10%;
    height: 10%;
}

/* élément footer */
footer{   
    background-color: black;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;   
}

footer>p{
    color:white ;
}

footer>a>img{
    width: 60px;
    height: 60px;
}
@font-face{
    font-family: 'press_start_2pregular';
    src: url('../fonts/pressstart2p-webfont.woff2') format('woff2'),
         url('../fonts/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}