*{
    box-sizing: border-box;
}

/* Background + Image probable */
body{
    background-color: hsl(219, 68%, 19%);
}

/* élément footer */
footer{
    background-color: black;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

footer>p{
    color:white ;
}

footer>img{
    width: 60px;
    height: 60px;   
}