/*------------------------------------Le saviez-vous ? Les homards goûtent avec leur pattes ?-----------------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

/* Besoin d'un Header apprarent ???? */
/*header {
    background-color: hsla(219, 68%, 19%, 0.4);
}*/



header>a>img {
    width: 5%;
    height: 5%;
}

/* élément footer */
footer {
    background-color: black;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

footer>p {
    color: white;
}

footer>a>img {
    width: 60px;
    height: 60px;
}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('../medias/fonts/pressstart2p-webfont.woff2') format('woff2'),
        url('../medias/fonts/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}