/* Ajustement du titre */
article:last-child>h1 {
    color: rgb(0,170,255);
    padding-left: 5%;
    font-family: 'press_start_2pregular';
    text-align: center;
    margin-bottom: 5%;
}

/* Ajustement des Questions */
article:last-child > fieldset > legend > h3 {
    color: rgb(0,170,255);
    font-family: 'Calibri';
}

/* Ajustement des Réponses */
article:last-child > fieldset>p {
    color: white;
    font-family: 'Calibri';
}

/* Ajustement du Logo */
article:last-child > img {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin-left: 44%;
}

/* Ajustement des fieldsets */
article:last-child > fieldset > legend {
    text-align: center;
}

/* Ajustement du Fond */
article:last-child {
    background-color: hsl(219, 68%, 19%);
}

/* Ajustement du Résultat */
article:last-child > p:last-child {
    border: white 2px solid;
    text-align: center;
    font-size: 200%;
    font-family: 'Calibri';
    margin-bottom: 3%;
    color: white;
}

/* Ajustement du Bouton */
article:last-child > input {
    margin-top: 5%;
    margin-left: 44%;
    margin-bottom: 5%;
    font-family: 'Calibri';
    font-size: 200%;
}