/* Background de la LP */
body {
    /* Mettre l'url du background */
    background: url(../medias/images/background/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: hsl(219, 68%, 19%);
}