/* Mise en place du grid */
main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr) auto auto;    
}

/*-------------------------------------------Placement des articles dans le grid----------------------------------------------*/

/* Hexa Métier */
article:first-child {
    grid-column: 4;
    grid-row: 2;
}

/* Hexa CDO */
article:nth-child(2) {
    grid-column: 5;
    grid-row: 1;
}

/* Hexa DE */
article:nth-child(3) {
    grid-column: 6;
    grid-row: 2;
}

/* Hexa DM */
article:nth-child(4) {
    grid-column: 5;
    grid-row: 3;
}

/* Hexa DPO */
article:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
}

/* Hexa MLE */
article:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
}

/* Hexa DS */
article:nth-child(7) {
    grid-column: 3;
    grid-row: 3;
}

/* Hexa Quiz */
article:nth-child(8) {
    grid-column: 4;
    grid-row: 4;
}

/* -----------------Placement du Quiz----------------- */
article:last-child {
    grid-column: 2/7;
    grid-row: 6;
}


/*---------------Ajustement de l'espace vide avec l'artcile----------*/
article:nth-child(9) {
    grid-column: 1/7;
    grid-row: 5;

    height: 430vh;
    width: 210.3vh;
    background: url(../medias/images/background/background_fil.jpg);
    background-color: hsl(219, 68%, 19%);
    background-repeat: no-repeat;
}