/* ------------------------------------------------------- Article 1 skyblue--------------------------------------------------------- */

body > main > article:first-child {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}


/* Réglage de l'image */
body > main >article:first-child > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:first-child > div{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:first-child:hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:first-child > div >h1{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'press_start_2pregular';
    position: absolute;
    top: 28%;
    left: 17%;   
    font-size: 22px;
}

/* ------------------------------------------------------- Article 2 CDO--------------------------------------------------------- */
body > main > article:nth-child(2) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}


/* Réglage de l'image */
body > main > article:nth-child(2) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(2) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(2):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(2) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 44%;
    left: 24%;   
    font-size: 20px;
}

/* ------------------------------------------------------- Article 3 DE--------------------------------------------------------- */

body > main > article:nth-child(3) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

/* Réglage de l'image */
body > main > article:nth-child(3) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(3) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(3):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(3) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 44%;
    left: 24%;   
    font-size: 20px;
}

/* ------------------------------------------------------- Article 4 DM--------------------------------------------------------- */

body > main > article:nth-child(4) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

/* Réglage de l'image */
body > main > article:nth-child(4) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(4) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(4):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(4) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 43%;
    left: 22%;   
    font-size: 20px;
}

/* ------------------------------------------------------- Article 5 DPO--------------------------------------------------------- */

body > main > article:nth-child(5) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}


/* Réglage de l'image */
body > main > article:nth-child(5) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(5) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(5):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(5) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 38%;
    left: 21%;   
    font-size: 20px;
}

/* ------------------------------------------------------- Article 6 MLE--------------------------------------------------------- */

body > main > article:nth-child(6) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

/* Réglage de l'image */
body > main > article:nth-child(6) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(6) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(6):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(6) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 30%;
    left: 31%;   
    font-size: 20px;
}

/* ------------------------------------------------------- Article 7 DE--------------------------------------------------------- */

body > main > article:nth-child(7) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}


/* Réglage de l'image */
body > main > article:nth-child(7) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(7) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(7):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(7) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 43%;
    left: 23%;   
    font-size: 20px;
}

/* ------------------------------------------------------- Article 8 Quiz--------------------------------------------------------- */

body > main > article:nth-child(8) {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}


/* Réglage de l'image */
body > main > article:nth-child(8) > img{
    /* Ne pas oublier de régler la taille de l'image en fonction du background principal */
    display: block;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Réglage de la Transition et de son opacité */
body > main > article:nth-child(8) > div{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    background-color: hsla(219, 30%, 50%, 0.5);

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* Opacity du texte*/
body > main > article:nth-child(8):hover > div{
    opacity: 1;
}

/* Position, Taille du texte */
body > main  > article:nth-child(8) > div > a{
    /* Couleur à rechoisir en fonction du background et de l'image */
    color: white;
    font-family: 'Calibri';
    position: absolute;
    top: 42%;
    left: 39%;   
    font-size: 20px;
}