/* Background de la LP */
body {
    /* Mettre l'url du background */
    background: url(../medias/images/background/background\ hexagones\ et\ fils.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(219, 68%, 19%);
}

/*---------------Ajustement de l'espace vide avec l'article----------*/
article:nth-child(9) {
    height: 350vh;
}

footer>p {
    text-align: justify;
}