article:nth-child(9)>h1 {
    color: rgb(0,170,255);
    padding-left: 5%;
    font-family: 'press_start_2pregular';
    text-align: center;
    margin-bottom: 5%;
}

article:nth-child(9)>fieldset>legend>h3 {
    color: rgb(0,170,255);
    font-family: 'Calibri';
}

article:nth-child(9)>fieldset>p {
    color: white;
    font-family: 'Calibri';
}

article:nth-child(9)>p:last-child {
    color: white;
}

article:nth-child(9)>img {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin-left: 44%;
}

article:nth-child(9)>fieldset>legend {
    text-align: center;
}

article:nth-child(9) {
    background-color: hsl(219, 68%, 19%);
}

article:nth-child(9) > p:last-child {
    border: white 2px solid;
    text-align: center;
    font-size: 200%;
    font-family: 'Calibri';
    margin-bottom: 3%;
}

article:nth-child(9) > input {
    margin-top: 5%;
    margin-left: 44%;
    margin-bottom: 5%;
    font-family: 'Calibri';
    font-size: 200%;
}