/*------ Background ------*/
body {
    background-position: 50% -25%;
}

/* Positionnement */
body>main>article:first-child {
    margin-top: 20%;
    margin-left: 10%;
}

main {
    grid-template-rows: 10% repeat(2, 1fr) repeat(4, auto);
}