body {
    background: url(../medias/images/background/Fiche\ métier\ background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: hsl(219, 68%, 19%);
}