body {
    background: url(../medias/images/background/Fiche\ métier\ background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: hsl(219, 68%, 19%);
}

body>main>article:first-child {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

p, li {
    text-align: justify;
}

a:visited {
    color:  hsl(200,100%,50%);
}

a:hover {
    color: white;
}

/* Syle source encadré */
article:nth-child(8) {
    border: 1px black solid;
}