body > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

section > img { grid-area: 2 / 1 / 5 /2;}
section > article:first-of-type { grid-area: 1 / 2 / 3 /3;}
section > article:nth-last-of-type(2) { grid-area: 2 / 3 / 5 /4;}
section > article:nth-last-of-type(3) { grid-area: 4 / 2 / 5 /3;}

/* Image formation : L 1 | C 2 -> 2  
section > img {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 2;
}

/*Texte formation : L 1 | C -> 3  
section > article:first-of-type {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
}

/*Texte Compétence : L 2 | C 2   
section > article:nth-last-of-type(2) {
    display: grid;
    grid-column: 2;
    grid-row: 4;
}

/*Texte Missions : L 2 | C -> 3   
section > article:nth-last-of-type(3) {
    display: grid;
    grid-column: 3;
    grid-row: 2 / 4;
}*/