article:nth-child(9)>h1 {
    color: black;
    padding-left: 5%;
    font-family: 'press_start_2pregular';
}

article:nth-child(9)>fieldset>legend>h3 {
    color: black;
}

article:nth-child(9)>fieldset>p {
    color: black;
}

article:nth-child(9)>p:last-child {
    color: black;
}

article:nth-child(9)>h1>img {
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    vertical-align: middle;
}

article:nth-child(9)>h1 {
    text-align: center;
}

article:nth-child(9)>fieldset>legend {
    text-align: center;
}